- var envName = env.NODE_ENV
- var contentList = []

if envName==='dev'
  - var apps1overview = 'DEV1 Application Overview'
  - var apps2overview = 'DEV2 Application Overview'
  - var db1overview = 'DEV1 DB Overview'
  - var db2overview = 'DEV2 DB Overview'
else if envName==='test'
  - var apps1overview = 'E2E1 Application Overview'
  - var apps2overview = 'E2E2 Application Overview'
  - var db1overview = 'E2E1 DB Overview'
  - var db2overview = 'E2E2 DB Overview'

- contentList = typeof(envDataList) != 'undefined' ? envDataList : { }

br
.row
  .col-lg-5.col-md-4
    .card.h-90
      center.card-header #[strong #{apps1overview}]
        table.card-table.table
          tr
            th(scope='row') Monitored Applications
            each dat, i in contentList
              if dat.environment_name==='DEV1' || dat.environment_name==='E2E1'
                td(align='right') #{dat.mon_appl_cntr}
                - break
          tr
            th(scope='row') No of Application Processes Monitored
            each dat, i in contentList
              if dat.environment_name==='DEV1_AV_PROC' || dat.environment_name==='E2E1_AV_PROC'
                td(align='right') #{dat.mon_appl_cntr}
                - break
          tr
            th(scope='row') No of Application Webservices Monitored
            each dat, i in contentList
              if dat.environment_name==='DEV1_AV_WEB' || dat.environment_name==='E2E1_AV_WEB'
                td(align='right') #{dat.mon_appl_cntr}
                - break
          tr
            th(scope='row') No of Application GUIservices Monitored
            each dat, i in contentList
              if dat.environment_name==='DEV1_AV_GUI' || dat.environment_name==='E2E1_AV_GUI'
                td(align='right') #{dat.mon_appl_cntr}
                - break
          tr
            th(scope='row') Unavailable Services
            each dat, i in contentList
              if dat.environment_name==='DEV1_UNAV_APP' || dat.environment_name==='E2E1_UNAV_APP'
                td(align='right') #{dat.mon_appl_cntr}
                - break
  .col-lg-5.col-md-4
    .card.h-90
      center.card-header #[strong #{apps2overview}]
        table.card-table.table
          tr
            th(scope='row') Monitored Applications
            each dat, i in contentList
              if dat.environment_name==='DEV2' || dat.environment_name==='E2E2'
                td(align='right') #{dat.mon_appl_cntr}
                - break
          tr
            th(scope='row') No of Application Processes Monitored
            each dat, i in contentList
              if dat.environment_name==='DEV2_AV_PROC' || dat.environment_name==='E2E2_AV_PROC'
                td(align='right') #{dat.mon_appl_cntr}
                - break
          tr
            th(scope='row') No of Application Webservices Monitored
            each dat, i in contentList
              if dat.environment_name==='DEV2_AV_WEB' || dat.environment_name==='E2E2_AV_WEB'
                td(align='right') #{dat.mon_appl_cntr}
                - break
          tr
            th(scope='row') No of Application GUIservices Monitored
            each dat, i in contentList
              if dat.environment_name==='DEV2_AV_GUI' || dat.environment_name==='E2E2_AV_GUI'
                td(align='right') #{dat.mon_appl_cntr}
                - break
          tr
            th(scope='row') Unavailable Services
            each dat, i in contentList
              if dat.environment_name==='DEV2_UNAV_APP' || dat.environment_name==='E2E2_UNAV_APP'
                td(align='right') #{dat.mon_appl_cntr}
                - break
  .col-lg-5.col-md-4
    .card.h-90
      center.card-header #[strong #{db1overview}]
        table.card-table.table
          tr
            th(scope='row') Monitored DBs
            each dat, i in contentList
              if dat.environment_name==='DEV1 DB' || dat.environment_name==='E2E1 DB'
                td(align='right') #{dat.mon_appl_cntr}
                - break
          tr
            th(scope='row') No of DB Processes Monitored
            each dat, i in contentList
              if dat.environment_name==='DEV1_SERVTYP_DB' || dat.environment_name==='E2E1_SERVTYP_DB'
                td(align='right') #{dat.mon_appl_cntr}
                - break
          tr
            th(scope='row') No of GG Processes Monitored
            each dat, i in contentList
              if dat.environment_name==='DEV1_SERVTYP_GG' || dat.environment_name==='E2E1_SERVTYP_GG'
                td(align='right') #{dat.mon_appl_cntr}
                - break
          tr
            th(scope='row') Unavailable DB Services
            each dat, i in contentList
              if dat.environment_name==='DEV1_UNAV_DB' || dat.environment_name==='E2E1_UNAV_DB'
                td(align='right') #{dat.mon_appl_cntr}
                - break
  .col-lg-5.col-md-4
    .card.h-90
      center.card-header #[strong #{db2overview}]
        table.card-table.table
          tr
            th(scope='row') Monitored DBs
            each dat, i in contentList
              if dat.environment_name==='DEV2 DB' || dat.environment_name==='E2E2 DB'
                td(align='right') #{dat.mon_appl_cntr}
          tr
            th(scope='row') No of DB Processes Monitored
            each dat, i in contentList
              if dat.environment_name==='DEV2_SERVTYP_DB' || dat.environment_name==='E2E2_SERVTYP_DB'
                td(align='right') #{dat.mon_appl_cntr}
          tr
            th(scope='row') No of GG Processes Monitored
            each dat, i in contentList
              if dat.environment_name==='DEV2_SERVTYP_GG' || dat.environment_name==='E2E2_SERVTYP_GG'
                td(align='right') #{dat.mon_appl_cntr}
          tr
            th(scope='row') Unavailable DB Services
            each dat, i in contentList
              if dat.environment_name==='DEV2_UNAV_DB' || dat.environment_name==='E2E2_UNAV_DB'
                td(align='right') #{dat.mon_appl_cntr}