
- var ContentList = []
- var CriticalContentList = []
- var OverallContentList = []
- var AppsList = []

- ContentList = typeof(db2DataList) != 'undefined' ? db2DataList : { }
- CriticalContentList = typeof(criticalDBServicesList) != 'undefined' ? criticalDBServicesList : { }
- OverallContentList = typeof(overallDBList) != 'undefined' ? overallDBList : { }
- AppsList = typeof(appList) != 'undefined' ? appList : { }


br
.row.mb-3
  .col-xl-3.col-lg-6
    .card.card-inverse.card-success
      .card-block.bg-success
        .rotate
          i.fa.fa-user.fa-5x
        .h5.text-capitalize Total Application DB's Monitored:
        each data, i in OverallContentList
          if data.appl_service_status==='TOTAL MONITORED SERVICES'
            .h1.display-1 #{data.counts}
  .col-xl-3.col-lg-6
    .card.card-inverse.card-success
      .card-block.bg-success
        .rotate
          i.fa.fa-user.fa-5x
        .h5.text-capitalize Total DB's Normal Services Count:
        each data, i in OverallContentList
          if data.appl_service_status==='NORMAL'
            .h1.display-1 #{data.counts}
  .col-xl-3.col-lg-6
    .card.card-inverse.card-success
      .card-block.bg-success
        .rotate
          i.fa.fa-user.fa-5x
        .h5.text-capitalize Total DB's High Services Count:
        each data, i in OverallContentList
          if data.appl_service_status==='HIGH'
            .h1.display-1 #{data.counts}
  .col-xl-3.col-lg-6
    .card.card-inverse.card-success
      .card-block.bg-success
        .rotate
          i.fa.fa-user.fa-5x
        .h5.text-capitalize Total DB's Critical Services Count:
        each data, i in OverallContentList
          if data.appl_service_status==='TOTAL MONITORED SERVICES'
            .h1.display-1.text-danger #{data.counts}

.chart-conatiner
  canvas(id="barChart")
  script.
    var servsCtx = document.getElementById('barChart');
    var appsName = !{JSON.stringify(AppsList)};
    var appNameArr = [];
    for(var index in appsName) {
        appNameArr.push(appsName[index].application_name);
    }
    new Chart(servsCtx, {
        type: 'horizontalBar',
        data: {
            labels: appNameArr,
            datasets: [
            {
                backgroundColor: "#3e95cd",
                data:  ['10','11','12']
            }, {
                backgroundColor: "#8e5ea2",
                data: ['10','11','0']
            }, {
                backgroundColor: "#8e5ea2",
                data: ['8','21','22']
            }
            ]
        },
        options: {
            title: {
                display: true,
                text: 'E2E2 DB Services Overview'
            },
            legend: {
                display: false,
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        },
    });