- var envName = env.NODE_ENV

- var overallServiceMonitoring = 'Overall Service Monitoring'
- var apps1unavailableServs = 'DEV1 Application Unavailable Services'
- var apps2unavailableServs = 'DEV2 Application Unavailable Services'
- var apps1unavailableWSServs = 'DEV1 Application Unavailable Webservices'
- var apps2unavailableWSServs = 'DEV2 Application Unavailable Webservices'
- var dbs1unavailableServs = 'DEV1 Database Unavailable Services'
- var dbs2unavailableServs = 'DEV2 Database Unavailable Services'

.row
  .col-lg-11.col-md-4
    .card.mw-100(style='height:265px;')
      center.card-header #[strong #{overallServiceMonitoring} ]
        table.card-table.table
          tr
            each data, i in overallDataList
              if data.tab_name==='DEV2_DB_CONFIG_DATA_TOTSRV'
                td #[strong Total DEV2 DB Services Monitored]
                td #[strong #{data.counter}]
              else if data.tab_name==='DEV2_CONFIG_DATA_TOTSRV'
                td #[strong Total DEV2 App Processes Services Monitored]
                td #[strong #{data.counter}]
              else if data.tab_name==='DEV2_WS_CONFIG_DATA_TOTSRV'
                td #[strong Total DEV2 App Websevices Monitored]
                td #[strong #{data.counter}]
          tr
            each datas, i in overallDataList
              if datas.tab_name==='DEV2_DB_CONFIG_DATA_UNAVSRV'
                td #[strong Unavailable DEV2 DB Services]
                td #[strong #{datas.counter}]
              else if datas.tab_name==='DEV2_CONFIG_DATA_UNAVSRV'
                td #[strong Unavailable DEV2 App Services]
                td #[strong #{datas.counter}]
              else if datas.tab_name==='DEV2_WS_CONFIG_DATA_TOTSRV'
                td #[strong Unavailable DEV2 Webservices]
                td #[strong #{datas.counter}]
          tr
            each dat, i in overallDataList
              if dat.tab_name==='DEV1_DB_CONFIG_DATA_TOTSRV'
                td #[strong Total DEV1 DB Services Monitored]
                td #[strong #{dat.counter}]
              else if dat.tab_name==='DEV1_CONFIG_DATA_TOTSRV'
                td #[strong Total DEV1 App Processes Services Monitored]
                td #[strong #{dat.counter}]
              else if dat.tab_name==='DEV1_WS_CONFIG_DATA_TOTSRV'
                td #[strong Total DEV1 App Websevices Monitored]
                td #[strong #{dat.counter}]
          tr
            each data, i in overallDataList
              if data.tab_name==='DEV1_DB_CONFIG_DATA_UNAVSRV'
                td #[strong Unavailable DEV1 DB Services]
                td #[strong #{data.counter}]
              else if data.tab_name==='DEV1_CONFIG_DATA_UNAVSRV'
                td #[strong Unavailablel DEV1 App Processes Services]
                td #[strong #{data.counter}]
              else if data.tab_name==='DEV1_WS_CONFIG_DATA_UNAVSRV'
                td #[strong Unavailable DEV1 App Websevices]
                td #[strong #{data.counter}]
          
  .col-lg-4.col-md-3
    .card.mw-90.p-1
      each data, i in overallDataList
        if data.tab_name==='DEV2_DB_CONFIG_DATA_UNAVSRV'
          center.card-header #[strong #{dbs2unavailableServs}  Count: #{data.counter}]
            div.scrollable
              table.card-table.table
                each data, i in unavailableDev2DBDataList
                  tr
                    td(onclick='alertAJAXMsg("' + data.application_name + '", "' + data.appl_service_name + '")') #{data.appl_service_name}
  .col-lg-4.col-md-3
    .card.mw-90.p-1
      each data, i in overallDataList
        if data.tab_name==='DEV2_CONFIG_DATA_UNAVSRV'
          center.card-header #[strong #{apps2unavailableServs} Count: #{data.counter}]
            div.scrollable
              table.card-table.table
                each data, i in unavailableDev2DBDataList
                  tr
                    td #{data.appl_service_name}
  .col-lg-4.col-md-3
    .card.mw-90.p-1
      each data, i in overallDataList
        if data.tab_name==='DEV2_WS_CONFIG_DATA_UNAVSRV'
          center.card-header #[strong #{apps2unavailableWSServs} Count: #{data.counter}]
            div.scrollable
              table.card-table.table
                each data, i in unavailableDev2DBDataList
                  tr
                    td #{data.appl_service_name}
  .col-lg-4.col-md-3
    .card.mw-90.p-1
      each data, i in overallDataList
        if data.tab_name==='DEV1_DB_CONFIG_DATA_UNAVSRV'
          center.card-header #[strong #{dbs1unavailableServs} Count: #{data.counter}]
            div.scrollable
              table.card-table.table
                each data, i in unavailableDev1DBDataList
                  tr
                    td #{data.appl_service_name}
  .col-lg-4.col-md-3
    .card.mw-90.p-1
      each data, i in overallDataList
        if data.tab_name==='DEV1_CONFIG_DATA_UNAVSRV'
          center.card-header #[strong #{apps1unavailableServs} Count: #{data.counter}]
            div.scrollable
              table.card-table.table
                each data, i in unavailableDev1DBDataList
                  tr
                    td #{data.appl_service_name}
  .col-lg-4.col-md-3
    .card.mw-90.p-1
      each data, i in overallDataList
        if data.tab_name==='DEV1_WS_CONFIG_DATA_UNAVSRV'
          center.card-header #[strong #{apps1unavailableWSServs} Count: #{data.counter}]
            div.scrollable
              table.card-table.table
                each data, i in unavailableDev1DBDataList
                  tr
                    td #{data.appl_service_name}